/* Style Sheet created by ImportDoc 13.0 */

p.WD_Normal {
	margin:0cm;
	margin-bottom:.0001pt;
	font-size:12.0pt;
	font-family:Times New Roman;
}

span.WD_Hyperlink {
	color:#0000ff;
	text-decoration:underline;
	text-underline:single;
}

span.WD_HyperlinkFollowed {
	color:#800080;
	text-decoration:underline;
	text-underline:single;
}

OL {
	margin-top:0px;
	margin-bottom:0px;
}

UL {
	margin-top:0px;
	margin-bottom:0px;
}

